.resetBtn {
    border:none;
    border-radius: 3.33rem;
    background-color: #ea923f;
    color: #e0dfdf;
    cursor: pointer;
    font-size: 2.2vw;
    font-family: monospace;
    margin: 0 auto;
    margin-top: 3rem;
    width: 34vw;
    padding: 1rem;
    display: block;

    transition: all 0.2s ease-in-out
}

.resetBtn:hover{
    background-color: #FF7C00;
}